.table {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: 50em;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 50rem;
}

.cell {
    display: table-cell;
    width: 25%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

body {
    background-color: #f2f2f2;
}

.table {
    background-color: #8989894a;
    width: fit-content;
    padding: 10px;
    border: 3px solid black;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 20%;
    background-color: #8989894a;
    padding: 10px;
    border: 3px solid black;
}